<!DOCTYPE html>
<html>
<body>
<div style="text-align:center;margin-bottom:30px;">
    <img
        src="http://localhost:8000/static/images/Logo.svg"
        alt="Videoflix"
        width="180">
</div>

<p>Dear {{ username }},</p>

<p>
    Thank you for registering with Videoflix. To complete your registration and verify your email address, please click the link below:
</p>

<p>
    <a href="{{ activation_link }}"
        style="
        display:inline-block;
        padding:8px 16px;
        background:#042593;
        color:white;
        text-decoration:none;
        border-radius:25px;
    ">
        Activate account
    </a>
</p>

<p>
    If you did not create an account with us, please disregard this email.
</p>

<p>
    Best regards,
</p>

<p>
    Your Videoflix Team.
</p>
</body>
</html>