<!DOCTYPE html>
<html>
<body>


<p>Dear {{ username }},</p>

<p>
    We recently received a request to reset your password. If you made this request, please click on the following link to reset your password:
</p>

<p>
    <a href="{{ reset_link }}"
        style="
        display:inline-block;
        padding:8px 16px;
        background:#042593;
        color:white;
        text-decoration:none;
        border-radius:25px;
    ">
        Reset password
    </a>
</p>

<p>
    Please note that for security reasons, this link is only valid for 24 hours.
</p>

<p>
    If you did not request a password reset, please ignore this email.
</p>

<p>
    Best regards,
</p>

<p>
    Your Videoflix Team!
</p>

<div style="text-align:start;margin-bottom:30px;">
    <img
        src="http://localhost:8000/static/images/Logo.svg"
        alt="Videoflix"
        width="180">
</div>

</body>
</html>